{% if model is equalto "nc124" %}
// file for model nc124
{% endif %}
{% if model is equalto "nc224" %}
// file for model nc224
{% endif %}

// get current date
const now = Date.now();

// get serial number
let serial = declare("InternetGatewayDevice.DeviceInfo.SerialNumber", { value: 1 }).value[0];

{% for user in users %}

{#- strip whitespaces -> src http://jinja.pocoo.org/docs/2.9/templates/#whitespace-control -#}
{#- nc124 uses MAC as identifier on TR-069 -#}
{% if model is equalto "nc124" %}
{% if not loop.first %}} else {% endif %}if ( serial === "{{ user.mac }}" ) {
{% endif %}
{#- nc224 uses SN as identifier on TR-069 -#}
{% if model is equalto "nc224" %}
{% if not loop.first %}} else {% endif %}if ( serial === "{{ user.sn }}" ) {
{% endif %}

    declare("InternetGatewayDevice.WANDevice.*.WANConnectionDevice.*.WANPPPConnection.*.Username", {value: now}, {
      value: "{{ user.pppoe_user }}"
    });
    declare("InternetGatewayDevice.WANDevice.*.WANConnectionDevice.*.WANPPPConnection.*.Password", {value: now}, {
      value: "{{ user.pppoe_passwd }}"
    });

    {%- if model is equalto "nc124" -%}
    {#- device model is nc124
     // pppoe password is admin password (playing with code you can change this behavior)
     // FIXME this path is incorrect
     //declare("InternetGatewayDevice.LANConfigSecurity.ConfigPassword", { value: now }, {
     //  value: "{{ user.pppoe_passwd }}"
     //});
    -#}
    {%- elif model is equalto "nc224" -%}
    {#- device model is nc224 ... playing with code you can change this behavior -#}
    {#- // pppoe password is admin password -#}
    declare("InternetGatewayDevice.X_CT-COM_UserInfo.UserList.1.Password", { value: now }, {
      value: "{{ user.pppoe_passwd }}"
    });
    // patching/fixing a bad value at master configuration
    declare("InternetGatewayDevice.X_CT-COM_Firewall.CurrentLANFilterTable", { value: now }, {
      value: "0"
    });

    // SIP proxy server
    declare("InternetGatewayDevice.Services.VoiceService.1.VoiceProfile.1.SIP.RegistrarServer", { value: now}, {
      value: "{{ proxy_server }}"
    });
    // SIP proxy server port
    declare("InternetGatewayDevice.Services.VoiceService.1.VoiceProfile.1.SIP.OutboundProxyPort", { value: now}, {
      value: "{{ proxy_server_port }}"
    });
    // Enable SIP line
    declare("InternetGatewayDevice.Services.VoiceService.1.VoiceProfile.1.Line.1.Enable", { value: now }, {
      value: "Enabled"
    });
    {#-
    // at the moment SIP user and passwd entered manually
    // SIP user
    //declare("InternetGatewayDevice.Services.VoiceService.1.VoiceProfile.1.Line.1.SIP.AuthUserName", { value: now }, {
    //  value: "{{ user.sip_user }}"
    //});
    // SIP passwd
    //declare("InternetGatewayDevice.Services.VoiceService.1.VoiceProfile.1.Line.1.SIP.AuthPassword", { value: now }, {
    //  value: "{{ user.sip_passwd }}"
    //});
    -#}

    {% endif %}


    // END provision
    declare("Tags.configured", { value: now }, { value: true });
    declare("Tags.order_20170710", { value: now}, { value: true });

    {#-{% if model is equalto "nc224" -%}-#}
    {#-// nc224 patch requires reboot-#}
    {#-declare("Reboot", null, {value: Date.now()});-#}
    {#{% endif %}#}

{% endfor %}
}
